<form action="/posts" method="post" data-remote="true">
  <h3>New Post</h3>
  <input id="title" type="text" placeholder="Post Title" required/>
  <textarea id="text" cols="30" rows="10" placeholder="Content" required></textarea>
  <button type="submit"> Add </button>
</form>