<section class='container'>
  <% @users.each do |user| %>
    <div class='user_card'>
      <img src="<%= user.photo %>" alt='User Avatar' />

      <div class='user_details'>
        <h1><%= link_to user.name, user_path(user.id) %></h1>
        <p>Number of Posts: <%= user.posts_counter || 0 %></p>
      </div>
    </div>
  <%end%> 
</section>