*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: unset;
}

:root {
  --dark-blue: #041c32;
  --dark-teal: #04293a;
  --blue: #064663;
  --main-color: #ecb365;
  --text: #fff;
}

.links a {
  text-decoration: underline;
}

a:hover {
  color: var(--main-color);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--dark-blue);
  color: var(--text);
  padding: 2rem 4rem;
}

button:not(.svg),
input[type='submit'] {
  border: none;
  background-color: var(--main-color);
  color: var(--dark-blue);
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover,
input[type='submit']:hover {
  transform: scale(1.1);
}

button:hover a,
input[type='submit']:hover a {
  color: var(--dark-blue) !important;
}

button:active,
input[type='submit']:active {
  transform: scale(0.95);
}

.new_post {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

img {
  width: 7rem;
  height: 7rem;
  border-radius: 0.5rem 0 0 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.line {
  width: 100%;
}

.line form {
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

input,
textarea {
  background-color: transparent;
  border: 1px solid var(--blue);
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  width: 100%;
  margin-top: 0.2rem;
}

input[type='checkbox'] {
  width: unset;
  margin: 0;
}

h3 {
  margin-bottom: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.user_card {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--blue);
  width: 100%;
}

.user_details {
  padding: 1rem;
  width: 100%;
}

.user_details p {
  float: right;
}

.bio {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--blue);
  margin-bottom: 1rem;
}

.bio p {
  font-weight: normal;
  font-size: 1.1rem;
}

.post_card,
.comment_card {
  position: relative;
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--blue);
}

.comment_card {
  margin-left: 2rem;
  width: calc(100% - 2rem);
}

.comment_card a {
  color: rgb(240, 88, 88);
  text-decoration: underline;
  font-size: 0.8rem;
}

.post_card span {
  float: right;
  opacity: 0.7;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details h3 {
  display: flex;
  gap: 1rem;
}

.details h3 p {
  color: var(--main-color);
  font-weight: normal;
}

.line input[type='submit'],
.line h3 {
  width: 180px;
}

.like {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
}

.svg {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@keyframes cssAnimation {
  to {
    visibility: hidden;
  }
}

.notification {
  padding: 1rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: #064663;
  z-index: 999;
  opacity: 0.9;
  animation: cssAnimation 0s 6s forwards;
}

.field {
  width: 100%;
  margin-top: 0.5rem;
}

.row {
  display: flex;
  gap: 0.5rem;
}

.error_explanation {
  color: rgb(240, 88, 88);
  width: 100%;
  margin-top: 0.5rem;
  margin-left: 5rem;
}

.error_explanation h2 {
  display: none;
}
